body {
  background-color: rgb(27, 27, 27);
  color: rgb(200, 200, 200);
}
.input-num {
  width: 100px;
}
.input-num,
.input-text,
.btn {
  background-color: rgb(42, 42, 42);
}
.btn,
.input-num,
.input-text {
  color: rgb(200, 200, 200);
}
